{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark scroll-smooth" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kisan.Ai - AI assitant for farmers</title>
    <meta name="description" content="Complete AI solution for farmers ">
    <meta name="keywords" content="AI, Plant Disease Detection, Smart farming, One click irrigation, Inventory.io">
    <meta name="author" content="Kisan.AI">
    <meta name="website" content="https://kisan.ai/">
    <meta name="email" content="Sudhirkdnw@gmail.com">
    <meta name="version" content="1.0">
    <!-- favicon -->
    <link href="{%static 'assets/Frontend/images/index/farmer.png'%}" rel="shortcut icon">

    <!-- Css -->
    <link href="{%static 'assets/Frontend/css/index/libs/tobii/tobii.min.css'%}" rel="stylesheet">
    <!-- Main Css -->
    <link href="{%static 'assets/Frontend/css/index/libs/fonts/materialdesignicons.min.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{%static 'assets/Frontend/css/index/main/tailwind.min.css'%}">

</head>

<body class="font-figtree text-base text-slate-900 dark:text-white dark:bg-slate-900">

    <nav id="topnav" class="defaultscroll is-sticky">
        <div class="container">
            <!-- Logo container-->
            <a class="logo" href="/">
                <img src="{%static 'assets/Frontend/images/index/kisan.ai_dark_logo.png'%}" class="h-6 inline-block dark:hidden"
                    alt="">
                <img src="{%static 'assets/Frontend/images/index/kisan.ai_logo.png'%}" class="h-6 hidden dark:inline-block"
                    alt="">
            </a>
            <!-- End Logo container-->

            <!-- Start Mobile Toggle -->
            <div class="menu-extras">
                <div class="menu-item">
                    <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Mobile Toggle -->

            <!--Login button Start-->
            <ul class="buy-button list-none mb-0">
                <li class="inline mb-0">
                    <a href="../login/">
                        <span
                            class="py-[6px] px-4 md:inline hidden items-center justify-center tracking-wider align-middle duration-500 text-sm text-center rounded bg-amber-400/5 hover:bg-amber-400 border border-amber-400/10 hover:border-amber-400 text-amber-400 hover:text-white font-semibold">Login</span>
                        <span
                            class="py-[6px] px-4 inline md:hidden items-center justify-center tracking-wider align-middle duration-500 text-sm text-center rounded bg-amber-400 hover:bg-amber-500 border border-amber-400 hover:border-amber-500 text-white font-semibold">Login</span>
                    </a>
                </li>

                <li class="md:inline hidden ps-1 mb-0 ">
                    <a href="../register/" target="_blank"
                        class="py-[6px] px-4 inline-block items-center justify-center tracking-wider align-middle duration-500 text-sm text-center rounded bg-amber-400 hover:bg-amber-500 border border-amber-400 hover:border-amber-500 text-white font-semibold">Signup</a>
                </li>
            </ul>
            <!--Login button End-->

            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="../aboutus" class="sub-menu-item">About Us</a></li>
                    <li><a href="../disease/" class="sub-menu-item">Disease </a></li>
                    <li><a href="../shop/" class="sub-menu-item">Shop </a></li>

                    <li class="has-submenu parent-parent-menu-item">
                        <a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
                        <ul class="submenu">
                            <li><a href="../shop/" class="sub-menu-item">Shop</a></li>
                            <li><a href="../iot/" class="sub-menu-item">IoT</a></li>

                            <li><a href="/index/error/" class="sub-menu-item"> 404!</a></li>
                        </ul>
                    </li>

                    <li><a href="../contact/" class="sub-menu-item">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
